/* estilos.css */

/* Reseteo de estilos predeterminados del navegador */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.titulo {
    align-content: center;
}
/* Estilo del cuerpo para centrar el contenedor */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161624;
    height: 100vh;
}

/* Estilo del contenedor */
.contenedor {
    width: 420px;
    background: linear-gradient(
        0deg,
        #ED414D 25%,
        #111D6B 97%
    );
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 20px 13px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del título */
.titulo-login {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

/* Estilo de los campos de entrada */
.campo-input {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 20px 0;
}

.campo-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 10px 3px 10px;
}

.campo-input input::placeholder {
    color: #fff;
}

/* Estilo de la sección de recordar/olvidar */
.recordar-olvidar {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 10px;
    padding: 30px 10px 3px 10px;
}

.recordar-olvidar label input {
    accent-color: #fff;
    margin-right: 3px;
}

.recordar-olvidar a {
    color: #fff;
    text-decoration: none;
}

.recordar-olvidar a:hover {
    text-decoration: underline;
}

/* Estilo del botón */
.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}
