body {
    background-color: black;
    color: azure;
}

h1, h2, h3, h4, h5, h6 {
    color: chartreuse;
}

/* Color para tablas y colores de letras en tablas */
table, th, td {
    border: 2px solid white;
    border-collapse: collapse; /* Fusiona los bordes de las celdas adyacentes en una tabla, creando un solo borde */
    border-color: #f50808;
    margin: auto;
}

th, td {
    background-color: #96D4D4;
    color: black;
}

/* Contenedor para alinear las casillas en una sola línea */
div.en_una_sola_linea {
    width: 100%;
    overflow: hidden; /* Asegura que no haya barras de desplazamiento */
    margin: 5% 5% 30% 3%;
}

div.en_una_sola_linea div {
    width: 30%;  /* Ajusta el ancho de las casillas para asegurarse de que caben en la línea */
    float: left;
    margin: 0.5%; /* Espacio entre las casillas */
}


/* Casillas con diferentes colores */
.casilla_1, .casilla_2, .casilla_3 {
    height: 220px;
    margin: 0 auto; /* Centra las casillas */
    color: black;
}

.casilla_1 {
    background-color: antiquewhite;
}

.casilla_2 {
    background-color: rgb(148, 9, 106);
}

.casilla_3 {
    background-color: #0fac77e7;
}

.casilla_1 h3, .casilla_2 h3, .casilla_3 h3 {
    color: black;
}

/**********************************************************************/
/* Casilla para example dos ( divs, cajas y casillas) */

table, tr, th {
    background-color: chartreuse;
    color: black;
}
.color_de_td td {
    background-color:rgb(66, 66, 66);
    color: rgb(255, 4, 4);
}

div.alinear_cajas_1_2_3_4 {
    width: 100%;
    overflow: hidden; /* Asegura que no haya barras de desplazamiento */
    margin: 1% 1% 3% 1%;
}

div.alinear_cajas_1_2_3_4 div {
    width: 15%; /* espacio que hay entre cajas y que todas puedan esta en una*/
                /* width aqui se asegura que el ancho sea adecuado para caber todas las cajas en una sola linea*/
    float: left;
    margin: 0.30%;
}

.caja_1, .caja_2, .caja_3, .caja_4, .caja_5, .caja_6 {
    height: 100px;
    width: 220px;
    margin: 0 auto;
    border: 8px solid rgb(128, 0, 0);
}

.caja_1 {
    background-color: blueviolet;
    box-shadow: #f50808;
}

.caja_2 {
    background-color: rgb(23, 207, 115);
    box-shadow: #f50808;
}

.caja_3 {
    background-color: rgb(70, 134, 10);
    box-shadow: #f50808;
}

.caja_4 {
    background: white;
    box-shadow: #f50808;
}

.caja_5 {
    background-color: orange;
    box-shadow: #f50808;
}

.caja_6 {
    background-color: rgb(21, 23, 160);
    box-shadow: #f50808;
}

/* ESTILOS Y TIPOS DE LETRA */
.center_texto {
    text-align: center;
}

.color_h3 h3 {
    color: black;
}

/*---------------------------------------------------------------------------------*/
div.alinear_columnas {
    width: 100%;
    overflow: auto;
    margin: 5% 5% 5% 5%;
}

div.alinear_columnas div{
    float: left;
    margin: 0.3%;
}


.informacion_personal {
    width: 400px;
    height: 360px;
    background-color: rgba(16, 219, 219, 0.274);
    line-height: 10%;
    margin: auto;

}

.experiencia_laboral {
    width: 200px;
    height: 300px;
    background-color: rgb(16, 219, 219);
    padding: 2%;
    margin: auto;
}

.educacion {
    width: 100px;
    height: 300px;
    background-color: rgb(16, 219, 219);
    padding: 2%;
    margin: auto;
}