body {
    background-color: black;
    color: white;
    margin: 0; /* Elimina márgenes por defecto del body */
    padding: 0; /* Elimina relleno por defecto del body */
}

.text_center{
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr; /* Dos columnas iguales y una columna más ancha */
    grid-template-rows: repeat(2, 1fr); /* Dos filas iguales */
    gap: 15px; /* Espacio entre columnas y filas */
    width: 80%; /* Ancho completo del contenedor */
    height: 80vh; /* Alto completo de la ventana */
    padding: 15px; /* Añade relleno para evitar que el contenido toque los bordes */
    margin: 3% 10% 10% 19%;
}

.box {
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.informacion_producto_1 {
    background-color: aqua;
    grid-column: 1 / 2; /* Primera columna */
    grid-row: 1 / 2; /* Primera fila */
}

.informacion_producto_2 {
    background-color: aqua;
    grid-column: 1 / 2; /* Primera columna */
    grid-row: 2 / 3; /* Segunda fila */
}

.informacion_producto_3 {
    background-color: aqua;
    grid-column: 2 / 3; /* Segunda columna */
    grid-row: 1 / 2; /* Primera fila */
}

.informacion_producto_4 {
    background-color: aqua;
    grid-column: 2 / 3; /* Segunda columna */
    grid-row: 2 / 3; /* Segunda fila */
}

.conversion_precios {
    background-color: rgba(0, 255, 170, 0.315);
    color: white;
    width: 350px;
    grid-column: 3 / 4; /* Tercera columna */
    grid-row: 1 / 3; /* Ocupa las dos filas */
}


.imagen_producto_1 {
    width: 50px;
    height: 50px;
    margin: 30% 19% 2% 0%;
}