body {
    background-color: black;
    
}

.container {
    position: relative; /* Contenedor que sirve de referencia para la foto */
    width: 50%;
    height: 250px; /* Altura del contenedor */
    border: 10px solid #000; /* Borde para visualizar el contenedor */
}

.foto_perfil {
    position: absolute; /* Posicionar la foto de manera absoluta dentro del contenedor */
    left: 500px; /* Mueve la foto 20px desde el borde izquierdo del contenedor */
    top: 10px; /* Mueve la foto 50px desde el borde superior del contenedor */
    width: 300px; /* Ancho de la foto */
    height: auto; /* Mantiene la proporción de la foto */
}

h1, h2, h3 , h4, h5 {
    font-family: Arial;
    color: rgb(51, 130, 167);
}

p {
    font-family: Verdana;
    color: white;

}

dl, dt, dd, strong, li {
    font-family: Georgia;
    color: white;
}

.dos_columnas {
    display: flex;
    gap: 2%; 
}

.columna {
    flex: 1; /* Cada columna toma el mismo espacio */
    background-color: rgb(44, 43, 43); /* Color de fondo de la columna (en mi caso gris oscuro) */
    padding: 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    color: white; /* Color del texto en la columna */
}

.centrar-texto {
    text-align: center;
  }