body {
    display: flex; /* Utiliza Flexbox para centrar el contenido dentro del body */
    justify-content: center; /* Centra horizontalmente el contenedor principal */
    align-items: center; /* Centra verticalmente el contenedor principal */
    height: 100vh; /* Altura del body igual a la altura del viewport */
    margin: 0; /* Elimina el margen por defecto del body */
    background-color: #141414; /* Color de fondo oscuro del body */
}

.contenedor_principal {
    display: grid; /* Utiliza Grid Layout para organizar los elementos dentro del contenedor */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño en el grid */
    grid-template-rows: repeat(2, 1fr); /* Dos filas de igual tamaño en el grid */
    width: 80vw; /* Ancho del contenedor principal como porcentaje del viewport */
    max-width: 1200px; /* Ancho máximo del contenedor principal */
    height: 80vh; /* Altura del contenedor principal como porcentaje del viewport */
    background-color: #0b7a96; /* Color de fondo del contenedor principal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor del contenedor principal */
    border-radius: 10px; /* Bordes redondeados del contenedor principal */
    padding: 20px; /* Espacio interno alrededor del contenido del contenedor principal */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho y alto del contenedor */
    gap: 20px; /* Espacio entre los elementos hijos del grid */
    overflow: auto; /* Añade barras de desplazamiento si el contenido se desborda */
}

.casilla_pequena {
    background-color: #4CAF50; /* Color de fondo de las cajas */
    color: white; /* Color del texto dentro de las cajas */
    border-radius: 5px; /* Bordes redondeados de las cajas */
    padding: 10px; /* Espacio interno alrededor del contenido de las cajas */
    display: flex; /* Utiliza Flexbox para el layout interno de las cajas */
    flex-direction: column; /* Alinea los elementos internos en una columna vertical */
    gap: 20px; /* Espacio entre los elementos internos de las cajas */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho y alto de las cajas */
    overflow: auto; /* Añade barras de desplazamiento si el contenido es demasiado grande */
}
